rt_thread_3.1.3-ucosiii_3.03-wrapper/rt-thread-3.1.3/bsp/stm32f103-msh-628/DebugConfig/
rt_thread_3.1.3-ucosiii_3.03-wrapper/rt-thread-3.1.3/bsp/stm32f103-msh-628/build/
rt_thread_3.1.3-ucosiii_3.03-wrapper/rt-thread-3.1.3/bsp/stm32f103-msh-628/Project.uvguix.*
rt_thread_3.1.3-ucosiii_3.03-wrapper/rt-thread-3.1.3/bsp/stm32f103-msh-628/*.scvd
