rt-thread-3.1.3/bsp/stm32f103/DebugConfig/
rt-thread-3.1.3/bsp/stm32f103/build/
rt-thread-3.1.3/bsp/stm32f103/Project.uvguix.*
*.scvd

*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d